<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.smoke.mapper.PoliticsStatusMapper">
  <resultMap id="BaseResultMap" type="com.xr.smoke.entity.PoliticsStatus">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="chinaMenber" jdbcType="VARCHAR" property="chinamenber" />
    <result column="probationary" jdbcType="VARCHAR" property="probationary" />
    <result column="league" jdbcType="VARCHAR" property="league" />
    <result column="patriots" jdbcType="VARCHAR" property="patriots" />
    <result column="massess" jdbcType="VARCHAR" property="massess" />
    <result column="party" jdbcType="VARCHAR" property="party" />
    <result column="alliance" jdbcType="VARCHAR" property="alliance" />
    <result column="member" jdbcType="VARCHAR" property="member" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, chinaMenber, probationary, league, patriots, massess, party, alliance, member
  </sql>
  <select id="selectByExample" parameterType="com.xr.smoke.entity.PoliticsStatusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from politicsStatus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from politicsStatus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from politicsStatus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xr.smoke.entity.PoliticsStatusExample">
    delete from politicsStatus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xr.smoke.entity.PoliticsStatus">
    insert into politicsStatus (id, chinaMenber, probationary, 
      league, patriots, massess, 
      party, alliance, member
      )
    values (#{id,jdbcType=INTEGER}, #{chinamenber,jdbcType=VARCHAR}, #{probationary,jdbcType=VARCHAR}, 
      #{league,jdbcType=VARCHAR}, #{patriots,jdbcType=VARCHAR}, #{massess,jdbcType=VARCHAR}, 
      #{party,jdbcType=VARCHAR}, #{alliance,jdbcType=VARCHAR}, #{member,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xr.smoke.entity.PoliticsStatus">
    insert into politicsStatus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="chinamenber != null">
        chinaMenber,
      </if>
      <if test="probationary != null">
        probationary,
      </if>
      <if test="league != null">
        league,
      </if>
      <if test="patriots != null">
        patriots,
      </if>
      <if test="massess != null">
        massess,
      </if>
      <if test="party != null">
        party,
      </if>
      <if test="alliance != null">
        alliance,
      </if>
      <if test="member != null">
        member,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="chinamenber != null">
        #{chinamenber,jdbcType=VARCHAR},
      </if>
      <if test="probationary != null">
        #{probationary,jdbcType=VARCHAR},
      </if>
      <if test="league != null">
        #{league,jdbcType=VARCHAR},
      </if>
      <if test="patriots != null">
        #{patriots,jdbcType=VARCHAR},
      </if>
      <if test="massess != null">
        #{massess,jdbcType=VARCHAR},
      </if>
      <if test="party != null">
        #{party,jdbcType=VARCHAR},
      </if>
      <if test="alliance != null">
        #{alliance,jdbcType=VARCHAR},
      </if>
      <if test="member != null">
        #{member,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xr.smoke.entity.PoliticsStatusExample" resultType="java.lang.Long">
    select count(*) from politicsStatus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update politicsStatus
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.chinamenber != null">
        chinaMenber = #{record.chinamenber,jdbcType=VARCHAR},
      </if>
      <if test="record.probationary != null">
        probationary = #{record.probationary,jdbcType=VARCHAR},
      </if>
      <if test="record.league != null">
        league = #{record.league,jdbcType=VARCHAR},
      </if>
      <if test="record.patriots != null">
        patriots = #{record.patriots,jdbcType=VARCHAR},
      </if>
      <if test="record.massess != null">
        massess = #{record.massess,jdbcType=VARCHAR},
      </if>
      <if test="record.party != null">
        party = #{record.party,jdbcType=VARCHAR},
      </if>
      <if test="record.alliance != null">
        alliance = #{record.alliance,jdbcType=VARCHAR},
      </if>
      <if test="record.member != null">
        member = #{record.member,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update politicsStatus
    set id = #{record.id,jdbcType=INTEGER},
      chinaMenber = #{record.chinamenber,jdbcType=VARCHAR},
      probationary = #{record.probationary,jdbcType=VARCHAR},
      league = #{record.league,jdbcType=VARCHAR},
      patriots = #{record.patriots,jdbcType=VARCHAR},
      massess = #{record.massess,jdbcType=VARCHAR},
      party = #{record.party,jdbcType=VARCHAR},
      alliance = #{record.alliance,jdbcType=VARCHAR},
      member = #{record.member,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xr.smoke.entity.PoliticsStatus">
    update politicsStatus
    <set>
      <if test="chinamenber != null">
        chinaMenber = #{chinamenber,jdbcType=VARCHAR},
      </if>
      <if test="probationary != null">
        probationary = #{probationary,jdbcType=VARCHAR},
      </if>
      <if test="league != null">
        league = #{league,jdbcType=VARCHAR},
      </if>
      <if test="patriots != null">
        patriots = #{patriots,jdbcType=VARCHAR},
      </if>
      <if test="massess != null">
        massess = #{massess,jdbcType=VARCHAR},
      </if>
      <if test="party != null">
        party = #{party,jdbcType=VARCHAR},
      </if>
      <if test="alliance != null">
        alliance = #{alliance,jdbcType=VARCHAR},
      </if>
      <if test="member != null">
        member = #{member,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xr.smoke.entity.PoliticsStatus">
    update politicsStatus
    set chinaMenber = #{chinamenber,jdbcType=VARCHAR},
      probationary = #{probationary,jdbcType=VARCHAR},
      league = #{league,jdbcType=VARCHAR},
      patriots = #{patriots,jdbcType=VARCHAR},
      massess = #{massess,jdbcType=VARCHAR},
      party = #{party,jdbcType=VARCHAR},
      alliance = #{alliance,jdbcType=VARCHAR},
      member = #{member,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>